@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

body{
	background-color: black;
	font-family: helvetica, arial, sans-serif;
}

h2{
	color: white;
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#container{
	width: 1500px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.row{
	display: flex;
	flex-direction: row;
}

.column{
	display: flex;
	flex-direction: column;
	/*background-color: #333;*/
}

#con1{
	width: 500px;
}

#con2{
	width: 100%;
}


#logo{
	width: 175px;
	margin-left: auto;
	margin-right: auto;
}

.backOp{
	width: 225px;
	margin-right: 30px;
	border-radius: 10px;
}

.option p{
	color: #ffffff;
	font-size: 22px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.option img{
	cursor: pointer;
	transition: all .2s;
}

.option img:hover{
	opacity: .9;
}

#select{
	margin-left: 10px;
}

#dropZone{
	border-radius: 15px;
	background-image: url(../assets/gif_background/spring.gif); 
		background-repeat:no-repeat; 
		background-size: cover; 
		background-position: center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 15px;
		margin-right: 15px;

	height: 575px;
	display: flex;
	justify-content: space-around;
}

#dropBorder{
	border: solid #ffffff 1px;
	border-radius: 15px;
	width: 97%;
	margin-left: auto;
}

#dragZone{
	border: solid #ffffff 1px;
	border-radius: 15px;
	width: 82%;
}

#dragZone img{
	width: 150px;
	height: 150px;
	cursor: grab;
}

#resetZone{
	border: solid #ffffff 1px;
	border-radius: 15px;
	width: 150px;
	display: flex;
	justify-content: center;
	transition: all .2s;
	cursor: pointer;
}

#resetZone:hover{
	background-color: #333;
}

#resetZone p{
	color: #ffffff;
	align-self: center;
	font-size: 24px;
	text-transform: uppercase;
}

#dragReset{
	margin-left: auto;
	width: 97%;
	justify-content: space-between;
	margin-top: 20px;
}

.dz{
	/*background-color: #333;*/
	border-radius: 100px;
	padding: 10px;
	height: 160px;
	width: 150px;
}

.animal{
	height: 150px;
	width: 150px;
}

.invisible{
	opacity: .5;
}

.off {
	visibility: hidden;
}


#dragH2{
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 0px;
}

#dragDiv{
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 10px;
	right: 10px;
}


#dz1{
	position: relative;
	top: 400px;
	left: 50px;
}

#dz2{
	position: relative;
	right: 100px;
}

#dz3{
	position: relative;
	top: 350px;
	right: 100px;
	
}

#dz4{
	position: relative;
	top: 15px;
	left: 15px;
}

.active{
	background-color: #ffffff;
	border-radius: 100px;
}

.on{
	opacity: 1;
}

